body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: auto;
}

.container{
    width: 400px;
    height: 300px;
    border-radius: 15px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,255,255,0.4);
}

.container img{
    width: 120px;
    height: 120px;
}

.container form div input{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.container form button{
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: none;
    background-color: white;
    color: gray;
    margin-top: 5px;
    transition: 0.3s;
    cursor: pointer;
}

.container form button:hover{
    background-color: gray;
    color: white;
}
